---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
  <h1>Contacto</h1>

  <p><strong>WhatsApp:</strong> +54 9 362 4536625</p>
  <p><strong>Dirección:</strong> Benjamín Zorrilla 4235, Resistencia, Chaco</p>
  <p><strong>Horario:</strong> Lunes a viernes de 9 a 12:30 y de 17 a 21 y Sábados de 9 a 13</p>

  <a class="button" href="https://wa.me/5493624536625" target="_blank">
    Escribir por WhatsApp
  </a>
</Layout>