---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Veterinaria">
  <section class="hero">
    <h1>Veterinaria [Nombre]</h1>
    <p>Atención veterinaria, productos y cuidado para tus mascotas.</p>
    <a class="button" href="/contacto">Contactanos</a>
  </section>
</Layout>