---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nosotros">
  <h1>Nosotros</h1>
  <p>
    Somos una veterinaria dedicada al cuidado integral de perros, gatos y otras mascotas.
  </p>

  <h2>Nuestro equipo</h2>
  <p>
    Acá pueden ir los nombres de los veterinarios, su experiencia y una descripción breve.
  </p>
</Layout>