---
import Layout from "../layouts/Layout.astro";

const servicios = Object.values(
  import.meta.glob("../content/servicios/*.md", { eager: true })
);
---

<Layout title="Servicios">
  <h1>Servicios</h1>

  <div class="grid">
    {servicios.map((servicio: any) => (
      <article class="card">
        <h2>{servicio.frontmatter.nombre}</h2>
        <p>{servicio.frontmatter.descripcion}</p>
      </article>
    ))}
  </div>
</Layout>