---
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Veterinaria</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <header>
      <a class="logo" href="/">Veterinaria [Nombre]</a>

      <nav>
        <a href="/">Inicio</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/servicios">Servicios</a>
        <a href="/productos">Productos</a>
        <a href="/contacto">Contacto</a>
      </nav>
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>© 2026 Veterinaria [Nombre]</p>
    </footer>
  </body>
</html>